@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  @include gradient;
  .container {
    .navbar-brand {
      @media (max-width: 322px) {
        display: none;
      }
      padding: 0;
      width: 200px;
      img {
        @include media-breakpoint-down(sm) {
          width: 200px;
          margin: 0;
        }
      }
    }
  }
  li {
    padding: 0 0.7rem;
    a {
      color: $white !important;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
}

#navbarNav {
  margin-left: 2.5rem;
  margin-right: 0;
}
